$DatePicker: (GREEN:#22B573, ORANGE:#FF9D00, RED:#EA5050, BLUE:#6787E3, Yellow: #FFCD11);

$color-white:(white);

$color-grey:  #565656 ;

$color-black: #000000;

$selcted-bgColor: rgba(255, 205, 17, 0.1);

$select-box-shadow:rgba(0, 0, 0, 0.18);
$border-color: #EAEAEA;
