$grey-color: #969696;
$datetab-color: #333333;
$btn-primary: #2A6BB8;
$border-color: #C1C1C1;
$calendar-header-color:#F1F1F1;
$today-date-color:#FFCD11;
$label-border-color:#EAEAEA;
$date-picker-bgColor: white;